<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Hoppers Game</title>
    <script type="text/javascript" src="../Common/three.min.js"></script>
    <script type="text/javascript" src="../Common/GLTFLoader.js"></script>
    <script type="text/javascript" src="../Common/MV.js"></script>
    <script type="text/javascript" src="game.js"></script>
    <style>
        body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background-color: #ffffff;
        }

        #gameCanvas {
            width: 800px;
            height: 600px;
            background: #000000;
        }
    </style>
</head>
<body>
    <h1>Hoppers</h1>
    <canvas id="gameCanvas"></canvas>
    <p id="scoreboard"></p>
</body>
</html>
