<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Hoppers Game</title>
    <script type="importmap">
        {
          "imports": {
            "three": "https://cdn.jsdelivr.net/npm/three@0.170.0/build/three.module.js",
            "three/addons/": "https://cdn.jsdelivr.net/npm/three@0.170.0/examples/jsm/"
          }
        }
    </script>
    <script type="module" src="../Common/MV.js"></script>
<!--    <script type="module" src="../Common/three.js"></script>-->
<!--    <script type="module" src="../Common/GLTFLoader.js"></script>-->
<!--    <script type="module" src="../Common/orbitcontrols.js"></script>-->
    <script type="module" src="./game.js"></script>
    <style>
        body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background-color: #ffffff;
        }

        #gameCanvas {
            width: 800px;
            height: 600px;
            background: #000000;
        }
    </style>
</head>
<body>
    <h1>Hoppers</h1>
    <canvas id="gameCanvas"></canvas>

    <p id="scoreboard"></p>
</body>
</html>
