<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Hoppers Game</title>
    <link rel="stylesheet" href="game.css">
    <script type="importmap">
        {
          "imports": {
            "three": "https://cdn.jsdelivr.net/npm/three@0.170.0/build/three.module.js",
            "three/addons/": "https://cdn.jsdelivr.net/npm/three@0.170.0/examples/jsm/"
          }
        }
    </script>
    <script type="module" src="../Common/MV.js"></script>
<!--    <script type="module" src="../Common/three.js"></script>-->
<!--    <script type="module" src="../Common/GLTFLoader.js"></script>-->
<!--    <script type="module" src="../Common/orbitcontrols.js"></script>-->
    <script type="module" src="./game.js"></script>
</head>
<body>
    <h1>Hoppers</h1>
    <div id="game-container">
        <canvas id="gameCanvas"></canvas>
        <div id="main-menu-container">
            <img id="title-image" src="../assets/Title.png" alt="title image">
            <img id="start-button" src="../assets/start-button.png" alt="start button">
        </div>
        <div id="level-select-container"></div>
        <div id="in-game-container">
            <img id="home-button" class="button" src="../assets/home.png" alt="to home">
            <img id="level-button" class="button" src="../assets/list.png" alt="to level selection">
            <img id="refresh-button" class="button" src="../assets/refresh.png" alt="refresh">
            <img id="hint-button" class="button" src="../assets/hint.png" alt="refresh">
            <div id="game-clear-container">
                <img id="game-clear-message" src="../assets/game-clear.png" alt="game clear!">
            </div>
            <img id="sun-button" class="button" src="../assets/sun_button.png" alt="background to sun">
            <img id="moon-button" class="button" src="../assets/moon_button.png" alt="background to moon">
            <img id="camera-left" class="button" src="../assets/arrow.png" alt="rotate camera to left">
            <img id="camera-right" class="button" src="../assets/arrow.png" alt="rotate camera to left">
        </div>
    </div>
    <p id="scoreboard"></p>
</body>
</html>
